<h4>Badges</h4>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "badges/arquiteto.png", class: "img-rounded img-responsive" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "badges/early_adopter.png", class: "img-rounded img-responsive" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "badges/bug_reporter.png", class: "img-rounded img-responsive" %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-4">
    <%= image_tag "badges/mochileiro.png", class: "img-rounded img-responsive" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "badges/dia_da_toalha.png", class: "img-rounded img-responsive" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "badges/lambda_tester.png", class: "img-rounded img-responsive" %>
  </div>
</div>